body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 0;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: linear-gradient(to right, hsl(0, 0%, 89%), hsl(0, 0%, 64%));
}

.headshot img {
    margin-top: 100px;
    border-radius: 50%;
    width: 40vw;
    max-width: 300px;
    height: auto;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.card {
    width: 50vw;
    max-width: 450px;
    font-weight: bold;
    margin: 0px 20px 0 20px;
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    z-index: 1;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    flex: 0.5;
    padding-right: 20px;
}

.msg {
    flex: 5;
}

.gap {
    width: 10px;
}

.card:active {
    transform: translate(5px, 5px);
    box-shadow: none;
}

.card:hover {
    transform: translate(5px, 5px);
    box-shadow: none;
}

.card a {
    text-decoration: none;
    color: black;
}

.cardshadow {
    background-color: black;
    z-index: -3;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    margin: auto;
}

.project {
    padding: 10px;
    display: flex;
    margin: 10px;
    flex-direction: row;
    min-width: 500px;
    max-width: 600px;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    z-index: 1;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.project:active{
    transform: translate(5px, 5px);
    box-shadow: none;
}

.project:hover{
    transform: translate(5px, 5px);
    box-shadow: none;
}

.project a{
    text-decoration: none;
    color: black;
}

.project h4{
    margin: 5px;
}

.project p{
    margin: 5px;
}

h2{
    margin: 0;
}

i {
    font-size: 12px;
    margin-top: -10;
}

.project img {
    border-radius: 20px;
    object-fit: contain;
}

.intro {
    max-width: 750px;
    margin: 3% auto;
}

.intro h4 {
    padding: 20px;
    font-weight: normal;
    color: rgb(92, 91, 91);
    text-align: justify;
}

.hardware_list {
    display: none;
}

.hardware_list.show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.software_list {
    display: none;
}

.software_list.show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.others_list {
    display: none;
}

.others_list.show {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.software_list.show p{
    margin: 5px;
}

.hardware_list.show p{
    margin: 5px;
}

.others_list.show p{
    text-align: center;
    margin-bottom: 30px;
    padding: 10px 20vw;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
    min-height: 270px;
}

button {
    font-size: 20px;
    width: 150px;
    padding: 20px;
    border: none;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    z-index: 1;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
}

button:active{
    transform: translate(5px, 5px);
    box-shadow: none;
}

button:hover{
    transform: translate(5px, 5px);
    box-shadow: none;
}

.exp {
    margin-top: 30px;
}
@media screen and (max-width: 768px) {
    .projects {
        display: flex;
        flex-direction: column;
    }

    .others_list.show p{
        text-align: center;
        margin-bottom: 30px;
        padding: 10px 50px;
    }

    .project {
        margin: 20px;
        display: flex;
        flex-direction: column;
        min-width: 60vw;
    }
}